<%const id = Math.random().toString(36).substring(2, 15);%>

<div id="editor-<%- id %>"></div>
<script type="json/text" id="content-<%- id %>">
  <%- note.content %>
</script>
<script>
  window.addEventListener("DOMContentLoaded", () => {
    loadEditor("#editor-<%- id %>", "<%- note.id %>");
  });
</script>
