<h1><%=note.title%></h1>
<div>
	<%note.tags.forEach(tag => {%>
		<%console.log(tag)%>
		<span class="tag" data-content="<%=tag.message%>" data-color="<%=tag.color%>" data-color2="<%=tag.darkColor%>" data-theme="<%=theme%>"></span>
	<%})%>
</div>

<%-html(note)%>

  <!-- sample response
  	{
		"title": "Electronic Frozen Ball",
		"content": "Vitae velit mollitia in sunt minima laudantium natus quam. Sequi molestiae saepe. Autem accusantium nam optio perferendis at quisquam. Ipsa quo eveniet.",
		"type": "text",
		"owner": {
			"name": "Mossie_White"
		},
		"tags": [
			{
				"color": "#583b3c",
				"darkColor": "#16266b",
				"message": "quantifying",
				"filledIn": false,
				"tag_note": {
					"id": 1,
					"tag_id": 8,
					"note_id": 1
				}
			}
		]
	}, -->
  <!-- <p>< %= notes[0].tags[0].message%></p> -->

  <!-- < %-html(notes)%> -->